/*Documento CSS*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.principal{
    background-image: url("../img/main.jpg");
    background-size: cover;
}
h1, h2{
    color: white
}

.card{
    border: 0;
}

main.item{
    width: 100%
}

.collar-contacto{
    height: 600px;
    width: 400px;
}